body {
    background-image: url("https://raw.githubusercontent.com/BoituXZ/website/main/Images/background.jpg?token=GHSAT0AAAAAACTI6EJDZA62T4Y3WUV3BC54ZUVDMGQ");
    background-size: cover;
    color: rgb(0, 180, 105);
}
.navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(14, 203, 255, 0.621);
    color: white;
}
.nav-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: aliceblue;
}
.nav-item{
    margin: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    text-decoration: chocolate;
}

.logo img{
    display: flex;
    justify-content: left;
    width: 46px;
    max-width: 100%;
    object-fit: cover;;
}
body{
    background-color: rgb(212, 238, 238);
}
